@font-face {
  font-family: GothamProRegular;
  /*src: url("../font/GothamPro/GothamProRegular.otf");*/
  src: url("../font/GothamPro/GothamProRegular/GothamProRegular.eot");
  src: url("../font/GothamPro/GothamProRegular/GothamProRegular.eot?#iefix")format("embedded-opentype"),
          url("../font/GothamPro/GothamProRegular/GothamProRegular.woff") format("woff"),
          url("../font/GothamPro/GothamProRegular/GothamProRegular.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: GothamProMedium;
  /*src: url("../font/GothamPro/GothamProMedium.otf");*/
  src: url("../font/GothamPro/GothamProMedium/GothamProMedium.eot");
  src: url("../font/GothamPro/GothamProMedium/GothamProMedium.eot?#iefix")format("embedded-opentype"),
          url("../font/GothamPro/GothamProMedium/GothamProMedium.woff") format("woff"),
          url("../font/GothamPro/GothamProMedium/GothamProMedium.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: GothamProBold;
  /*src: url("../font/GothamPro/GothamProRegular.otf");*/
  src: url("../font/GothamPro/GothamProBold/GothamProBold.eot");
  src: url("../font/GothamPro/GothamProBold/GothamProBold.eot?#iefix")format("embedded-opentype"),
          url("../font/GothamPro/GothamProBold/GothamProBold.woff") format("woff"),
          url("../font/GothamPro/GothamProBold/GothamProBold.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: GothamProLight;
  /*src: url("../font/GothamPro/GothamProLight.otf");*/
  src: url("../font/GothamPro/GothamProLight/GothamProLight.eot");
  src: url("../font/GothamPro/GothamProLight/GothamProLight.eot?#iefix")format("embedded-opentype"),
          url("../font/GothamPro/GothamProLight/GothamProLight.woff") format("woff"),
          url("../font/GothamPro/GothamProLight/GothamProLight.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: GothamProItalic;
  /*src: url("../font/GothamPro/GothamProRegular.otf");*/
  src: url("../font/GothamPro/GothamProItalic/GothamProItalic.eot");
  src: url("../font/GothamPro/GothamProItalic/GothamProItalic.eot?#iefix")format("embedded-opentype"),
          url("../font/GothamPro/GothamProItalic/GothamProItalic.woff") format("woff"),
          url("../font/GothamPro/GothamProItalic/GothamProItalic.ttf");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: MetaMediumCyrRoman;
  src: url("../font/GothamPro/GothamProRegular.otf");
  font-style: normal;
  font-weight: normal;
}