.s-about
  padding 30.5em 0 3em
  background url("../img/parking/parking-bgset-rescaled-q40.jpg") center -837px no-repeat

  &__heading
    font-family GothamProLight
    font-size 3.1875em // 51px
    padding-bottom 1em
    max-width 20em

  &__text
    padding-bottom 2.1875em
    font-family GothamProLight
    font-size 1.25em // 20px

@media all and (max-width: 1170px)
  .s-about .container
    width 100%
    padding 0 2em


@media all and (max-width: 1000px)
  .s-about
    background #eee
    padding 5em 0 3em

    &__heading
      font-size 2em